@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ubah font sans ke Inter */
  --font-sans: Inter, sans-serif;

  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  /* jadikan Inter sebagai default font body */
  font-family: 'Inter', sans-serif;
}

/* Custom Coffee Theme Colors */
  .hero-bg {
    background: linear-gradient(135deg, rgba(79, 46, 33, 0.9) 0%, rgba(115, 67, 43, 0.8) 100%), url('https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixlib=rb-4.0.3&auto=format&fit=crop&w=1740&q=80');
    background-size: cover;
    background-position: center;
  }